<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuộc thi lập trinh robot 2024</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <div id="title">
      <div class="logo-box">
        <button class="logo" onclick="goToScore()">
          <img src="/images/logo_PTIT.png" />
        </button>
        <button class="logo" onclick="goToScore()">
          <img src="/images/logokhoadt.png" />
        </button>
      </div>

      <div class="text-title">
        <h1>Vòng sơ loại cuộc thi lập trình robot 2024</h1>
        <p>Khoa kỹ thuật Điện tử I</p>
      </div>
    </div>
    <div class="content">
      <div class="team" id="team-1">
        <div class="gate-container">
          <span class="gate">
            <p>Cổng 1</p>
          </span>
        </div>
        <div class="score-container">
          <div class="avatar">
            <img src="/images/logo-team/ptit.jpg" id="avatar-team-1" />
            <button
              id="name-team-1"
              onclick="togglePopupSelectTeam('select-team-1')"
            >
              Đội Bla bla
            </button>
            <div class="dropdown" id="select-team-1"></div>
          </div>
          <div class="score">
            <button class="score-time" id="score-1-1">00:00</button>
            <button class="score-time" id="score-1-2">00:00</button>
            <button class="score-time" id="score-1-3">00:00</button>
          </div>
        </div>
      </div>
      <div class="team" id="team-2">
        <div class="gate-container">
          <span class="gate">
            <p>Cổng 2</p>
          </span>
        </div>
        <div class="score-container">
          <div class="score">
            <button class="score-time" id="score-2-1">00:00</button>
            <button class="score-time" id="score-2-2">00:00</button>
            <button class="score-time" id="score-2-3">00:00</button>
          </div>
          <div class="avatar">
            <img src="/images/logo-team/ptit.jpg" id="avatar-team-2" />
            <button
              id="name-team-2"
              onclick="togglePopupSelectTeam('select-team-2')"
            >
              Đội Bla bla
            </button>
            <div class="dropdown" id="select-team-2"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // CONSTANTS
    const listTeam = [
      {
        name: "The Turtle",
        avatar: "/images/logo-team/The_Turtle.jpg",
      },
      {
        name: "Locomotive",
        avatar: "/images/logo-team/locomotive.jpg",
      },
      {
        name: "DolphinS",
        avatar: "/images/logo-team/DolphinS.jpg",
      },
      {
        name: "Four Arms",
        avatar: "/images/logo-team/Four Arms.jpg",
      },
      {
        name: "Thập cẩm",
        avatar: "/images/logo-team/Thập Cẩm.jpg",
      },
      {
        name: "Averger 2",
        avatar: "/images/logo-team/Avenger2.jpg",
      },
      {
        name: "No Name",
        avatar: "/images/logo-team/NO NAME.jpg",
      },
      {
        name: "Robot hủy diệt",
        avatar: "/images/logo-team/ptit.jpg",
      },
      {
        name: "Đóm và những NB",
        avatar: "/images/logo-team/ptit.jpg",
      },
      {
        name: "OhMyBanana",
        avatar: "/images/logo-team/OhMyBanana.jpg",
      },
      {
        name: "Speed",
        avatar: "/images/logo-team/speed.jpg",
      },
      {
        name: "Avergers",
        avatar: "/images/logo-team/ptit.jpg",
      },
      {
        name: "Pink Panthers",
        avatar: "/images/logo-team/Pink Panthers.jpg",
      },
      {
        name: "Hành tây",
        avatar: "/images/logo-team/HẢNH_TÂY.jpg",
      },
      {
        name: "Noob Guy",
        avatar: "/images/logo-team/noob_guy.jpg",
      },
      {
        name: "Yeti",
        avatar: "/images/logo-team/Yeti.jpg",
      },
      {
        name: "Pocolo",
        avatar: "/images/logo-team/pocolo.png",
      },
      {
        name: "Nâng tầm cuộc chơi",
        avatar: "/images/logo-team/Nâng tầm cuộc chơi.jpg",
      },
      {
        name: "DSmart",
        avatar: "/images/logo-team/ptit.jpg",
      },
      {
        name: "Lion Tech",
        avatar: "/images/logo-team/LION_TECH.jpg",
      }
    ];
    let team1 = listTeam[0];
    let team2 = listTeam[1];
    let timeStartTeam1 = null;
    let timeStartTeam2 = null;
    let intervalClockTeam1 = null;
    let intervalClockTeam2 = null;
    // Define DOM
    let avatarTeam1Element = null;
    let nameTeam1Element = null;
    let scoreTeam1_1 = null;
    let scoreTeam1_2 = null;
    let scoreTeam1_3 = null;
    let timeRunningTeam1Element = null;
    let avatarTeam2Element = null;
    let nameTeam1E2ement = null;
    let scoreTeam2_1 = null;
    let scoreTeam2_2 = null;
    let scoreTeam2_3 = null;
    let timeRunningTeam2Element = null;
    // handle when init
    document.addEventListener("DOMContentLoaded", function () {
      // Define DOM
      avatarTeam1Element = document.getElementById("avatar-team-1");
      nameTeam1Element = document.getElementById("name-team-1");
      scoreTeam1_1 = document.getElementById("score-1-1");
      scoreTeam1_2 = document.getElementById("score-1-2");
      scoreTeam1_3 = document.getElementById("score-1-3");

      avatarTeam2Element = document.getElementById("avatar-team-2");
      nameTeam2Element = document.getElementById("name-team-2");
      scoreTeam2_1 = document.getElementById("score-2-1");
      scoreTeam2_2 = document.getElementById("score-2-2");
      scoreTeam2_3 = document.getElementById("score-2-3");

      for (const iterator of listTeam) {
        appendTeamOption("select-team-1", "button", iterator);
        appendTeamOption("select-team-2", "button", iterator);
      }
      // update avatar
      avatarTeam1Element.src = team1.avatar;
      avatarTeam2Element.src = team2.avatar;
      // update team name
      nameTeam1Element.innerHTML = team1.name;
      nameTeam2Element.innerHTML = team2.name;
      // restore score
      resetScoreBlock("team-1", team1.name);
      resetScoreBlock("team-2", team2.name);
    });

    // HANDLE UI
    function togglePopupSelectTeam(id) {
      const dropdownDom = document.getElementById(id);
      if (dropdownDom) {
        dropdownDom.classList.toggle("active");
      }
    }
    function changeHtmlContent(dom, newContent) {
      if (!dom) return;
      dom.innerHTML = newContent;
    }
    function changeHtmlContentById(id, newContent) {
      const dom = document.getElementById(id);
      if (!dom) return;
      dom.innerHTML = newContent;
    }
    function appendChild(parentElementId, tag, content) {
      const parentElement = document.getElementById(parentElementId);
      if (!parentElement) return;
      const newElement = document.createElement(tag);
      newElement.textContent = content;
      parentElement.appendChild(newElement);
    }
    function appendTeamOption(parentElementId, tag, team) {
      const parentElement = document.getElementById(parentElementId);
      if (!parentElement) return;
      const newElement = document.createElement(tag);
      newElement.textContent = team.name;
      newElement.addEventListener("click", choiceTeam);
      parentElement.appendChild(newElement);
    }
    function choiceTeam(e) {
      const parentId = e.target.parentNode.id;
      const teamNameSelected = e.target.innerHTML;
      const teamSelected = listTeam.find(
        (item) => item.name === teamNameSelected
      );
      if (!teamSelected) return;
      if (parentId == "select-team-1") {
        team1 = teamSelected;
        avatarTeam1Element.src = teamSelected.avatar;
        nameTeam1Element.innerHTML = teamSelected.name;
        clearInterval(intervalClockTeam1);
        timeStartTeam1 = null;
        resetScoreBlock("team-1", teamSelected.name);
      } else {
        team2 = teamSelected;
        avatarTeam2Element.src = teamSelected.avatar;
        nameTeam2Element.innerHTML = teamSelected.name;
        clearInterval(intervalClockTeam2);
        timeStartTeam2 = null;
        resetScoreBlock("team-2", teamSelected.name);
      }
    }
    function loadTimeStoraged(params) {}

    // HANDLE FUNCTION
    function getTimeNow() {
      return Date.now();
    }
    // Tạo kết nối WebSocket
    const ws = new WebSocket("ws://localhost:9088");

    // Khi kết nối thành công
    ws.onopen = function (event) {
      console.log("Connected to WebSocket server");
    };

    // Khi nhận được dữ liệu từ WebSocket
    ws.onmessage = function (event) {
      const data = JSON.parse(event.data);
      console.log(data);
      if (data.topic === "update-match-result") {
        updateMatchResult(data);
      }
    };

    // Hiển thị dữ liệu nhận được từ WebSocket
    function updateMatchResult(data) {
      const id = data.id;
      const status = data.status;
      const runningTimeEsp = data.runningTime;
      if (!id || !status) {
        return;
      }
      if (id === "door1") {
        if (status === "start") {
          setTimeout(() => {
            timeStartTeam1 = getTimeNow();
            timeRunningTeam1Element = getBlockRunningEmpty("team-1");
            if (!timeRunningTeam1Element) {
              timeStartTeam1 = null;
              return;
            }
            intervalClockTeam1 = setInterval(() => {
              now = getTimeNow();
              timeRunningTeam1Element.innerHTML = getTimeRunningSTring(
                timeStartTeam1,
                now
              );
            }, 250);
          }, 1000);
        }
        if (status === "stop") {
          const stopTime = getTimeNow();
          if (!timeStartTeam1) {
            console.error(`Không thấy thời gian start ${id}`);
            return;
          }
          let timeRunningMs = 0;
          let timeRunning = 0;
          if (runningTimeEsp) {
            timeRunningMs = Number(runningTimeEsp);
            timeRunning = getTimeRunningSTring(0, Number(runningTimeEsp));
          } else {
            timeRunningMs = stopTime - timeStartTeam1;
            timeRunning = getTimeRunningSTring(timeStartTeam1, stopTime);
          }
          if (timeRunningTeam1Element) {
            timeRunningTeam1Element.innerHTML = timeRunning;
          }
          clearInterval(intervalClockTeam1);
          const dataSave = {
            team: team1.name,
            timestampStart: timeStartTeam1,
            timeStart: timestampToTimeString(timeStartTeam1),
            timeStop: timestampToTimeString(stopTime),
            timeRunningMs,
            timeRunningString: timeRunning,
          };
          saveDataToStorage(id, dataSave);
          timeStartTeam1 = null;
        }
      }
      if (id === "door2") {
        if (status === "start") {
          setTimeout(() => {
            timeStartTeam2 = getTimeNow();
            timeRunningTeam2Element = getBlockRunningEmpty("team-2");
            if (!timeRunningTeam2Element) {
              timeStartTeam2 = null;
              return;
            }

            intervalClockTeam2 = setInterval(() => {
              now = getTimeNow();
              timeRunningTeam2Element.innerHTML = getTimeRunningSTring(
                timeStartTeam2,
                now
              );
            }, 250);
          }, 1000);
        }
        if (status === "stop") {
          const stopTime = getTimeNow();
          if (!timeStartTeam2) {
            console.error(`Không thấy thời gian start ${id}`);
            return;
          }
          let timeRunningMs = 0;
          let timeRunning = 0;
          if (runningTimeEsp) {
            timeRunningMs = Number(runningTimeEsp);
            timeRunning = getTimeRunningSTring(0, Number(runningTimeEsp));
          } else {
            timeRunningMs = stopTime - timeStartTeam2;
            timeRunning = getTimeRunningSTring(timeStartTeam2, stopTime);
          }
          if (timeRunningTeam2Element) {
            timeRunningTeam2Element.innerHTML = timeRunning;
          }
          clearInterval(intervalClockTeam2);
          const dataSave = {
            team: team2.name,
            timestampStart: timeStartTeam2,
            timeStart: timestampToTimeString(timeStartTeam2),
            timeStop: timestampToTimeString(stopTime),
            timeRunningMs,
            timeRunningString: timeRunning,
          };
          saveDataToStorage(id, dataSave);
          timeStartTeam2 = null;
        }
      }
    }

    function timestampToTimeString(timestamp) {
      const date = new Date(timestamp);
      const hours = date.getHours().toString().padStart(2, "0");
      const minutes = date.getMinutes().toString().padStart(2, "0");
      const seconds = date.getSeconds().toString().padStart(2, "0");
      return `${hours}:${minutes}:${seconds}`;
    }

    function saveDataToStorage(id, data) {
      const dataStorageString = localStorage.getItem(id);
      const dataStorageObject = dataStorageString
        ? JSON.parse(dataStorageString)
        : [];
      dataStorageObject.push(data);
      localStorage.setItem(id, JSON.stringify(dataStorageObject));
    }

    function getBlockRunningEmpty(team) {
      const teamBlock = document.getElementById(team);
      if (!teamBlock) return null;
      const listScoreTimeBlock = teamBlock.getElementsByClassName("score-time");
      for (let i = 0; i < listScoreTimeBlock.length; i++) {
        if (listScoreTimeBlock[i].innerHTML.trim() === "00:00") {
          return listScoreTimeBlock[i];
        }
      }
    }

    function getTimeRunningSTring(startTime, stopTime) {
      const timeRunning = stopTime - startTime;
      let numberOfSecond = Math.floor(timeRunning / 1000);
      const numberOfMinus = Math.floor(numberOfSecond / 60);
      numberOfSecond = numberOfSecond - numberOfMinus * 60;
      return `${numberOfMinus.toString().padStart(2, "0")}:${numberOfSecond
        .toString()
        .padStart(2, "0")}`;
    }

    function resetScoreBlock(teamId, teamName) {
      const teamBlock = document.getElementById(teamId);
      if (!teamBlock) return null;
      const listScoreTimeBlock = teamBlock.getElementsByClassName("score-time");
      for (let i = 0; i < listScoreTimeBlock.length; i++) {
        listScoreTimeBlock[i].innerHTML = "00:00";
      }
      const dataStorageDoor1 = localStorage.getItem("door1");
      const dataStorageDoor1Object = dataStorageDoor1
        ? JSON.parse(dataStorageDoor1)
        : [];
      const dataStorageDoor2 = localStorage.getItem("door2");
      const dataStorageDoor2Object = dataStorageDoor2
        ? JSON.parse(dataStorageDoor2)
        : [];
      const dataStorage = [
        ...dataStorageDoor1Object,
        ...dataStorageDoor2Object,
      ];
      const dataTeam = dataStorage
        .filter((item) => item.team === teamName)
        .sort(sortByTimestampStart);
      for (let i = 0; i < dataTeam.length; i++) {
        listScoreTimeBlock[i].innerHTML = dataTeam[i].timeRunningString;
      }
    }

    function sortByTimestampStart(a, b) {
      return a.timestampStart - b.timestampStart;
    }

    function removeScoreTimeBlock(e) {
      const element = e.target;
      const id = element.id;
      splitData = id.split("-");
    }

    function goToScore() {
      window.open("/score", "_blank");
    }
  </script>
</html>
