body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#title {
  background: linear-gradient(
    90deg,
    rgb(132, 66, 255) 0%,
    rgb(56, 125, 255) 25%,
    rgb(205, 255, 216) 50%,
    rgb(56, 125, 255) 75%,
    rgb(161, 56, 255) 100%
  );
  width: 100%;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vh;
}
.logo-box {
  height: 12vh;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  background: linear-gradient(90deg, rgb(53, 51, 205) 0%, rgb(0, 0, 0) 100%);
  border-radius: 12px;
}
.logo {
  height: calc(12vh - 24px);
  width: calc(12vh - 24px);
  background: #fff;
  border-radius: 50%;
  padding: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > img {
  object-fit: contain;
  height: calc(10.5vh - 24px);
  width: calc(10.5vh - 24px);
}
.text-title {
  text-align: center;
}
.text-title h1 {
  font-size: 3.8vh;
  line-height: 6.45vh;
  font-family: bungee;
  margin: 0;
}
.text-title p {
  font-weight: normal;
  font-size: 3.8vh;
  font-family: bungee;
  margin: 0;
}

.content {
  flex: 1;
  display: flex;
  width: 100vw;
  gap: 32px;
  position: relative;
}
.content::after {
  content: "";
  width: 32px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.team {
  width: 100%;
  height: 100%;
}
.gate-container {
  height: 18.15vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(53, 51, 205, 0.345) 40%,
    rgb(36, 33, 203) 60%,
    rgb(59, 58, 196) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.gate {
  width: 70%;
  height: 63.5%;
  background: linear-gradient(
    90deg,
    rgb(0, 9, 125) 0%,
    rgb(0, 74, 173) 50%,
    rgb(2, 196, 205) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 1.5vh;
}
.gate > p {
  font-weight: normal;
  font-size: 7vh;
  font-family: baiJamjuree;
  color: #fff;
  text-align: center;
}

.score-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  margin-top: 5vh;
  padding: 0 5%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.avatar > img {
  width: 100%;
  height: 35.8vh;
  max-width: 100%;
  max-height: 35.8vh;
  background-color: #0f3269;
  padding: 10px 10px 10px 10px;
  object-fit: cover;
  box-sizing: border-box;
}
.avatar > button {
  margin-top: 3vh;
  width: 100%;
  height: 6vh;
  background: linear-gradient(
    90deg,
    rgb(88, 60, 112) 0%,
    rgb(0, 74, 173) 50%,
    rgb(0, 74, 173) 100%
  );
  font-weight: normal;
  font-size: 4vh;
  font-family: baiJamjuree;
  color: #fff;
  text-align: center;
}

.avatar > .dropdown {
  position: absolute;
  width: 100%;
  height: 15vh;
  padding: 10px;
  overflow: auto;
  left: 105%;
  top: 70%;
  z-index: 2;
  background-color: #ffffff40;
  display: grid;
  grid-template-columns: 1fr;
  display: none;
}
.avatar > .dropdown.active {
  display: block;
}
.avatar > #select-team-2 {
  left: -115%;
}

.avatar > .dropdown > button {
  width: 100%;
  height: 4vh;
  background: #00000010;
  font-weight: normal;
  font-size: 2.5vh;
  font-family: baiJamjuree;
  color: #fff;
  text-align: center;
  border: 1px solid #333;
  border-radius: 5px;
}
.avatar > .dropdown > button + button {
  margin-top: 0.2vh;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1vh;
  transform: translateY(10%);
}
.score > button {
  width: 100%;
  height: 7vh;
  color: #fff;
  background-color: #176ead;
  font-weight: normal;
  font-size: 4vh;
  font-family: baiJamjuree;
  color: #fff;
}

@font-face {
  font-family: "led";
  src: url("/fonts/7LED.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bungee";
  src: url("/fonts/Bungee-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "baiJamjuree";
  src: url("/fonts/BaiJamjuree-Bold.ttf") format("truetype");
}
